* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.contenedor{
    background: #715375;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 50px auto 50px / 0.3fr 1fr ;
    grid-template-areas: 
    "header header"
    "contenido contenido"
    "footer footer";
    gap: 10px;
}
.header{
    background: #7f90db;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    /* background: rgb(219, 148, 183); */
    background-image: url("https://st2.depositphotos.com/1014680/11547/i/950/depositphotos_115474710-stock-photo-grungy-alphabet-letter-collage.jpg");
    opacity: 0.6;
    grid-area: contenido;
    
    
}
.footer{
    background: #7f90db;
    grid-area: footer;
    gap: 15px;

}
#redes {
    width:170px;
    height:40px;
}
.cajita {
    width: 45px;
    height: 45px;
    margin-left: 35px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
}
.cuadro{
    display: flex;
    justify-content: center;
    align-items: start;
}

.cuadrito {
    width: 45px;
    height: 45px;
    margin-left: 8px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.cuadrito_dos {
    width: 45px;
    height: 45px;
    margin-left: 8px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}
.cuadrito_tres {
    width: 45px;
    height: 45px;
    margin-left: 8px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}
.cuadrito_cuatro {
    width: 45px;
    height: 45px;
    margin-left: 8px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}
.cuadrito_cinco {
    width: 45px;
    height: 45px;
    margin-left: 8px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}
.cuadrito_seis {
    width: 45px;
    height: 45px;
    margin-left: 8px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 4px;
}