* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.contenedor{
    background: #715375;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 50px auto 50px / 0.3fr 1fr ;
    grid-template-areas: 
    "header header"
    "contenido contenido"
    "footer footer";
    gap: 10px;
}

.header{
    background: #7f90db;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    /* background: rgb(219, 148, 183); */
    background-image: url("https://st2.depositphotos.com/1014680/11547/i/950/depositphotos_115474710-stock-photo-grungy-alphabet-letter-collage.jpg");
    opacity: 0.6;
    grid-area: contenido;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer{
    background: #7f90db;
    grid-area: footer;
    gap: 15px;

}

#redes {
    width:170px;
    height:40px;
}

.cajita {
    width: 45px;
    height: 45px;
    margin-left: 35px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 12px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    color: white;
}

.cajita_inicio {
    width: 300px;
    height: 300px;
    background: #3f4bb8;
    border: 1px solid #0c043a;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.estilo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.boton {
    margin-top: 25px;
    width: 50px;
    height: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 90px;
    background: white;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    border-radius: 5px;
}

.boton:hover {
    background: #b9afc2;
}
#si {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 100px;
    height: 100px;
    /* margin-left: 195px; */
}

#juego_nuevo:hover{
    color: white;
}


